/*Reset*/


* {

    margin: 0;
    box-sizing: border-box;
    padding: 0;

}



/*generics */

body {

    font-family: sans-serif;
    background-color: rgba(211, 211, 211, 0.941)
}


/*utils*/

.container {

    max-width: 1200px;
    margin: 0 auto;

}

.flex {

    display: flex;
}






/*Header*/

header {

    background-color: #fff;


}

/*contenitore titolo principale Giallo Booleano*/

.title {

    height: 100 px;
    color: orange;

    font-style: italic;

    padding: 20px;
    padding-top: 20px;

}