/*Reset*/


* {

    margin: 0;
    box-sizing: border-box;
    padding: 0;

}



/*generics */

body {

    font-family: sans-serif;
    background-color: rgba(211, 211, 211, 0.941)
}


/*utils*/

.container {

    max-width: 900px;
    margin: 0 auto;

}

.flex {
    display: flex;
}



.first-text {

    height: 100px;
    background-color: #fff;
    color: orange;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;


}